# docker-compose.yml
version: '3.8'

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio
    container_name: portfolio
    restart: unless-stopped
    ports:
      - "3000:3000"   # Mapeia a porta 3000 do container para o host