@import "tailwindcss";
@plugin "daisyui" {
    themes: dracula --default, light;
}

html {
  scroll-behavior: smooth;
}

/* Ensure content does not go under the fixed header */
section[id] {
  scroll-margin-top: 80px; /* Adjust based on your header height */
}