@import "tailwindcss";
@plugin "daisyui" {
    themes: dracula --default, light;
}
/* Define shadow colors per theme */
[data-theme="light"] {
    --shadow-color: 66 42 213;
}
[data-theme="dracula"] {
    --shadow-color: 255 121 198;
}
